<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {%- seo -%}
  {%- assign page_description = page.description | default: site.description -%}
  {%- assign page_image = page.image | default: "" -%}
  {%- if page_description and page_description != "" -%}
  <meta name="twitter:description" content="{{ page_description | escape }}">
  {%- endif -%}
  {%- if page_image != "" -%}
  <meta property="og:image" content="{{ page_image | absolute_url | escape }}">
  <meta name="twitter:image" content="{{ page_image | absolute_url | escape }}">
  {%- endif -%}
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  {%- feed_meta -%}
  {%- if site.cloudflare_web_analytics_token and site.cloudflare_web_analytics_token != "" -%}
  <script
    defer
    src="https://static.cloudflareinsights.com/beacon.min.js"
    data-cf-beacon='{"token":"{{ site.cloudflare_web_analytics_token | escape }}"}'></script>
  {%- endif -%}
</head>
