<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {%- seo -%}
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  {%- feed_meta -%}
  {%- if site.cloudflare_web_analytics_token and site.cloudflare_web_analytics_token != "" -%}
  <script
    defer
    src="https://static.cloudflareinsights.com/beacon.min.js"
    data-cf-beacon='{"token":"{{ site.cloudflare_web_analytics_token | escape }}"}'></script>
  {%- endif -%}
</head>
